<%- include("partials/header.ejs") %>
<body class="about-body">
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-white">About us</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-white">
        At patafasta , we specialize in delivering cars directly to your
        doorstep with precision and care. Our mission is to provide a seamless
        and stress-free experience, ensuring your vehicle arrives safely and on
        time. With a team of dedicated professionals and a commitment to
        excellence, we handle every car with the utmost care, treating it as if
        it were our own. Whether you're a dealership, a private owner, or a car
        enthusiast, trust us to deliver not just your car, but also peace of
        mind. Drive with confidence, knowing your vehicle is in the best hands.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">
          Primary button
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">
          Secondary
        </button> -->
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 80vh">
      <div class="container px-5">
        <img
          src="images/about.png"
          class="img-fluid border rounded-3 shadow-lg mb-4"
          alt="Example image"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>
</body>
